{% extends "base.html" %}

{% block head %}

<link href="../static/css/main.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css-table-18/fonts/icomoon/style.css">
<link rel="stylesheet" href="../static/css-table-18/css/owl.carousel.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../static/css-table-18/css/bootstrap.min.css">
<!--style-->
<link rel="stylesheet" href="../static/css-table-18/css/style.css">

{% endblock %}

{% block body %}
<div class = "content">
    <h1 style="color:white">AIO Dashboard</h1>
    <table class="custom-table">
        <tr scope="row">
            <th scope="col">Task</th>
            <th scope="col">Added</th>
            <th scope="col">Actions</th>
            <th scope="col">Completed</th>
        </tr>
        {% for task in tasks %}
            <tr scope="row">
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>    
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
                <td>
                    
                    <form action = "/checkbox/{{task.id}}", method = "POST" >
                        {% if task.completed == true%}
                        <tab></tab>
                        <input type = "checkbox" name = "Check" class = "Check" onChange="this.form.submit()" checked> 
                        {%- elif task.completed == false -%}
                        <tab></tab>
                        <input type = "checkbox" name = "Check" class = "Check" onChange="this.form.submit()">
                        {%- endif %}

                    </form>
                     
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action = "/" method = "POST">
        <input type="text"  name="content" id = "content">
        <input type="submit" value="Add Task">

    </form>
    <a href="/calendar">Calendar Link...</a>
</div>  
{% endblock %}