{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class = "content">
    <h1>Create New event</h1>
    <form action = "/createEvent" method = "POST">
        <input type="text"  name="eventTitle" id = "eventTitle">
        <input type="date"  name="eventDate" id = "eventDate">
        <input type="time"  name="eventTime" id = "eventTime">
        <input type="text"  name="eventLocation" id = "eventLocation">
        <input type = "submit" value = "OK">
    </form>
    
</div>
{% endblock %}