body {
    animation: fadeInAnimation ease 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
 
.createEvent{
    position: fixed;
    bottom: -4px;
    z-index: 1001;
    right: 10px;
}
.fc-toolbar-title{ color: #000; } 

.createButtons{
    color: #fff;
}

.tabs__label{
    color:#fff;
}
.containerCali{
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 2% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    
    height: 100%;
}
.calendar{
    height: 610px;
    width: max-content;
    background-color: #25252b;
    border-radius: 25px;
    overflow: hidden;
    padding: 30px 50px 0px 50px;
    box-shadow: var(--shadow);
    color: white;
}
.calendar-header{
    background: #25252b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: white;
    padding: 20px;

}
.calendar-body{
    pad: 10px;
}
.calendar-week-days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    font-weight: 600;
    color: white;
}
.calendar-week-days div:hover{
    color: white;
    transform: scale(1.2);
    transition: all .1s ease-in-out;
}
.calendar-week-days div{
    display: grid;
    place-items: center;
    color: var(--bg-secondary);
    height: 50px;
}
.calendar-days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 2px;
    color: var(--color-txt);
}
.calendar-days div {
    width: 37px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .month-picker:hover {
    background-color: var(--color-hover);
  }
  .month-picker:hover {
    color: var(--color-txt);
  }
  .year-picker {
    display: flex;
    align-items: center;
  }
  .year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
    color: white;
  }
  .year-change:hover {
    background-color: var(--light-btn);
    transition:all .2s ease-in-out ;
    transform: scale(1.12);
  }
  .year-change:hover pre {
    color: white;
  }
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #year:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2 ease-in-out;
    color: white;
  }
  .calendar-days div span {
    position: absolute;
  }
   .calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #9796f0;
    border-radius: 20%;
    color: var(--dark-text);
  }
  .calendar-days div.current-date {
    color: var(--dark-text);
    background-color: var(--light-btn);
    border-radius: 20%;
  }
  .month-list {
    position: relative;
    left: 0;
    top: -50px;
    background-color: #9796f0;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
  }
  .month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .month-list > div > div:hover {
    background-color:var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
  }
  .month-list.hideonce{
    visibility: hidden;
  }
  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }
  .date-time-formate {
    width: max-content;
    height: max-content;
    
    position: relative;
    display: inline;
    top: 140px;
    justify-content: center;
  }
  .day-text-formate {

    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #9796f0;
    position: absolute;
    left: -1rem;
  }
  .date-time-value {
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 40%;
    top: -18px;
    text-align: center;
  }
  .time-formate {
    font-size: 1.5rem;
  }
  .time-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
  }
  .date-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.showtime{
    animation: showtime 1s forwards;
  }
  .time-formate.showtime {
    animation: showtime 1s forwards;
  }
  .date-formate.showtime {
    animation: showtime 1s forwards;
  }
  @keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  @keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
  }
  @keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
  }
  @keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
  }
  @media (max-width:375px) {
    .month-list>div{
  
      margin: 5px 0px;
    }
  }
  .button1{
    padding: 5px 25px;
    background-color: #050801;
    color: #9796f0;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }
  

.button1:hover{
    border: 0;
    border-radius: 225px;
    background: #9796f0;
    color: #050801;
    transition: 0.5s;
    box-shadow: 0 0 5px #9796f0,
                0 0 25px #9796f0,
                0 0 50px #9796f0,
                0 0 200px #9796f0;
      -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.16));
}
  .to-do_content{
    width: 400px;
    border-radius: 25px;
  }
  @font-face {
    font-family: myFirstFont;
    src: url(../css-table-18/css/EarthOrbiter-YZ12.otf);
  }
  
  .mdl-layout-title2 {
    font-size: 75px;
    font-family: 'myFirstFont';
    color: white; 
    text-decoration: none; 
} 

.landing{
    display: flex;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
   /* margin-top: 50%; */
   animation-delay: 20s;
   -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 10s; /* Firefox < 16 */
    -ms-animation: fadein 10s; /* Internet Explorer */
     -o-animation: fadein 10s; /* Opera < 12.1 */
        animation: fadein 10s;
  -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.16));
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
