body {
    animation: fadeInAnimation ease 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.createEvent{
    position: fixed;
    bottom: -4px;
    z-index: 1001;
    right: 10px;
}
.fc-toolbar-title{ color: #000; } 

.createButtons{
    color: #fff;
}

.page-content{
    margin: auto;
    width: 75%;
    padding: 10px;
}
.tabs__label{
    color:#fff;
}